#navbar {
    margin: 0;
    padding: 0;

}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.50);
    border : 3px  solid rgba(0, 0, 0, 0.5);
    border-top: 0px;
    border-left: 0px;
    border-radius: 0px 0px 10px 0px;
    position: sticky;
}

#menu li {
    float: left;
    font-size: 18px;
    font-family : 'Roboto Slab'
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

#menu li a:hover {
    background-color: rgba(51, 51, 51, 0.70);
}

#title {
    color:white;
    font-size: 2em;
    text-align:center;
    text-shadow: 1px 1px 2px black;
    font-family: 'Roboto Slab';
    width: 100%;
}

body {
    margin: 0;
    /* The image used */
    background-image: url('../img/bakery.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#content {
    padding: 30px;
    border-radius: 7.5px;
    background-color: hsla(0, 0%, 100%, 0.8);
    box-shadow: 0 3px 20px 0 rgba(67,15,108,.1);
    margin: 5em 13em 5em 13em;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

#content img {
    height: 400px;
    float: left;
    margin-right: 25px;
}

#wrapper {
    
    display: flex;
    flex-flow: row wrap;
  }